<style scoped>
body {
  background-color: #222222;
}
</style>
<style id="css" type="text/css" scoped>
</style>
<div class="container">
  <div id="alert_messages_block"></div>
  <div class="row">
    <div class="col-sm-6">
      <h5>Browser</h5>
      <div id="browser">
        <div id="html"></div>
        <script id="js"></script>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="main_editor"></div>
    </div>
  </div>
  <div id="editors" class="row">
    <div id="editor_one" ondblclick="goToMain(id)" class="col-sm-4"></div>
    <div id="editor_two" ondblclick="goToMain(id)" class="col-sm-4"></div>
    <div id="editor_three" ondblclick="goToMain(id)" class="col-sm-4"></div>
  </div>
  <% @challenges.each_with_index do |challenge,i| %>
    <div class="modal fade" id="challenge_<%= i + 1 %>" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Challenge <%= i + 1 %></h4>
            <%= raw challenge %>
          </div>
          <div class="modal-footer">
            <button onclick="showAnswer(1)" type="button" class="btn btn-default" 
              data-dismiss="modal">
              Answer
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Keep Coding
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
